body {
	background-color: #eaeaea;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.card {
	width: 70%;
	color: #323232;
	background-color: #ffffff;
	/* border: 2px #323232 solid; */
	padding: 10px;
	border-radius: 10px;
	margin-bottom: 25px;
	box-shadow: 1px 5px 25px #909090;
}

.media {
	width: 100%;
	height: auto;
}

@media only screen and (max-width: 768px) {
	.card {
		width: 90%;
	}
}
